<header>
  <mat-toolbar style="position:fixed;background: #353c46;" class="mat-elevation-z6">
    <nav style="width:100%">
      <a class="mat-button" href="/">
        <span class="mat-button-wrapper">
          <img  style="width: 50%;"alt="logo" src="//res.cloudinary.com/hrscywv4p/image/upload/c_limit,fl_lossy,h_300,w_300,f_auto,q_auto/v1/1157957/Logo_FA-01_vlnryv.png">
        </span>
        <div class="mat-button-ripple mat-ripple"></div>
        <div class="mat-button-focus-overlay"></div>
      </a>
      <a style="float:right;margin-top: 1rem;color:white;font-weight:600" class="mat-button">
        <span class="mat-button-wrapper">
          Log In/Signup
        </span>
        <div class="mat-button-ripple mat-ripple"></div><div class="mat-button-focus-overlay"></div>
      </a>
      <a style="float:right;margin-top: 1rem;color:white;font-weight:600" class="mat-button">
        <span class="mat-button-wrapper">
          Pricing
        </span>
        <div class="mat-button-ripple mat-ripple"></div><div class="mat-button-focus-overlay"></div>
      </a>
      <a style="float:right;margin-top: 1rem;color:white;font-weight:600" class="mat-button">
        <span class="mat-button-wrapper">
        Features
        </span>
        <div class="mat-button-ripple mat-ripple"></div><div class="mat-button-focus-overlay"></div>
      </a>
    </nav>
  </mat-toolbar>
</header>
