<div class="content">
  <nav class="sidebar">
    <mat-sidenav-container class="example-container">
      <mat-sidenav mode="side" opened></mat-sidenav>
      <mat-sidenav-content> 
        <mat-list role="list" (click)="sideBarItemClick(side_bar_item)" *ngFor="let side_bar_item of side_bar_items">
          <mat-list-item role="listitem">{{side_bar_item.title}}</mat-list-item>
        </mat-list>          
      </mat-sidenav-content>
    </mat-sidenav-container>
  </nav>  
  <main class="container dashboard">
      <router-outlet></router-outlet>
  </main>
</div>