
  .content {
    display: flex;
    .sidebar {
      flex:0 0 18%;
      height: 90vh;
      flex-direction: column;
      justify-content: space-between;
      background-color: orange; 
      mat-sidenav-container {
        height: inherit;
      }
      mat-list-item {
        cursor: pointer;
      }
      .active {
        background-color: rgb(170, 166, 166);
      }
      mat-list :hover {
        background-color: rgb(231, 229, 229);
      }
    }
    .dashboard {
      padding-top: 15px;
      flex: 1;
      // background-color: greenyellow;
    }
  }