<div *ngIf="loading" style="display:flex;justify-content:center">
    <mat-spinner></mat-spinner>
</div>
<div class="row" class="space-around" *ngIf="portal_screen?.upsertType === 'inline'">
    <ng-container *ngFor="let itemCol of portal_screen?.columns"> 
        <mat-form-field>
            <input matInput [(ngModel)]="add_input_model[itemCol.bindingPropertyName]">
        </mat-form-field> 
    </ng-container>
        <button mat-button class="addButton" color="primary" (click)="add()"> ADD </button>
</div>
<mat-accordion>
        <mat-expansion-panel  (opened)="panelOpenState = true"
        (closed)="panelOpenState = false" *ngFor="let items of table_data_items;let j=index">
          <mat-expansion-panel-header>
            <mat-panel-title>
                <ng-container *ngFor="let prop of items;let i=index" >
                    <mat-form-field *ngIf="!prop.expandedViewOnly">
                    <input [disabled]="!prop.canEdit" matInput [(ngModel)]="edit_input_model[j][i][prop.bindingPropertyName]">
                    </mat-form-field>
                </ng-container>
            </mat-panel-title>
          </mat-expansion-panel-header>
      
            <ng-container *ngFor="let prop of items;let i=index" >
                <div class="space-around">
                    <mat-form-field *ngIf="prop.expandedViewOnly">
                    <input [disabled]="!prop.canEdit" matInput [(ngModel)]="edit_input_model[j][i][prop.bindingPropertyName]">
                    </mat-form-field>
                </div>
            </ng-container>
            <mat-action-row>
                <button mat-raised-button color="primary" class="mr-1" (click)="edit(j)">Update</button>
                <button mat-raised-button color="warn" (click)="delete(j)">Delete</button>
            </mat-action-row>
        </mat-expansion-panel>
</mat-accordion>
<button class="addButton" *ngIf="portal_screen?.upsertType === 'dialog'" mat-fab color="accent" (click)="openDialog()">
    <mat-icon aria-label="Add New">add</mat-icon>
</button>
 
 
  
